$darker:#333;
$dark: #706c61;
$light: #c6c6c6;
$lighter: #e1f4f3;


body {
    background-color: $lighter;
}

.btn {
    background-color: $darker;
    color: $lighter;
    border: 1px, solid, $darker;
}

.btn:hover {
    color: $lighter;
    background-color: $dark;
}

.card {
    background-color: $lighter;
    color: $darker;
    align-items: center;
}